<% for (var i = 0; i < rectangles.length; i++) { %>
    <div>
        <div style="width:<%= rectangles[i].width %>px;height:<%= rectangles[i].height %>px;background-color: <%= rectangles[i].color %>;" class="rectangle"></div>
    </div>
<% } %>